<section>

    <h1>¡Registrate!</h1>

    <div class="container">

        <label>Nombre</label><br>
        <input type="name" placeholder="Nombre...">

        <label>Dirección</label><br>
        <input type="text" placeholder="Dirección...">

        <label>Correo Electronico</label><br>
        <input type="email" placeholder="ejemplo@correo.com">
    
        <label>Contraseña</label>
        <input type="password" placeholder="Contraseña">
        
        <label>Confirma contraseña</label>
        <input type="password" placeholder="Confirma contraseña">
    </div>

    <button>Registrase</button><br>

    <label>¿Ya tienes una cuenta? <a (click)="goToLogin()" >Entra aquí</a> </label>

</section>

