<section id="inicio" class="inicio" >

    <div class="layout">
        <div class="producto" >
            <img src="../../assets/images/camara2.jpg" alt="">
            <h3>camara</h3>
            <p>Camara profesional de alta calidad Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta in eaque sequi ipsa porro? Optio voluptatem tempore illum atque necessitatibus aspernatur, ea recusandae porro maxime totam nemo deleniti, laudantium molestias.</p>
            <label>Precio: RD$8000</label>
            <button><fa-icon [icon]="cartShoppingIcon"></fa-icon></button>
        </div>
        <div class="producto" >
            <img src="../../assets/images/camara2.jpg" alt="">
            <h3>camara</h3>
            <p>Camara profesional de alta calidad Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta in eaque sequi ipsa porro? Optio voluptatem tempore illum atque necessitatibus aspernatur, ea recusandae porro maxime totam nemo deleniti, laudantium molestias.</p>
            <label>Precio: RD$8000</label>
            <button><fa-icon [icon]="cartShoppingIcon"></fa-icon></button>
        </div>  
        <div class="producto" >
            <img src="../../assets/images/camara2.jpg" alt="">
            <h3>camara</h3>
            <p>Camara profesional de alta calidad Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta in eaque sequi ipsa porro? Optio voluptatem tempore illum atque necessitatibus aspernatur, ea recusandae porro maxime totam nemo deleniti, laudantium molestias.</p>
            <label>Precio: RD$8000</label>
            <button ><fa-icon [icon]="cartShoppingIcon"></fa-icon></button>
        </div>  
        <div class="producto" >
            <img src="../../assets/images/camara2.jpg" alt="">
            <h3>camara</h3>
            <p>Camara profesional de alta calidad Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta in eaque sequi ipsa porro? Optio voluptatem tempore illum atque necessitatibus aspernatur, ea recusandae porro maxime totam nemo deleniti, laudantium molestias.</p>
            <label>Precio: RD$8000</label>
            <button><fa-icon [icon]="cartShoppingIcon"></fa-icon></button>
        </div>  
    </div>

    <div class="carrito" >

        <h2>Carrito de Compras</h2>

        <ul>
            <li>
                <h4>Cámara</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur vel aut dolores recusandae doloribus, quibusdam fugiat, delectus, sequi ducimus dolorem in doloremque incidunt sunt sed ipsa facere alias voluptas culpa!</p>
                <button><fa-icon [icon]="trashIcon"></fa-icon></button>
            </li>
            <li>
                <h4>Cámara</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur vel aut dolores recusandae doloribus, quibusdam fugiat, delectus, sequi ducimus dolorem in doloremque incidunt sunt sed ipsa facere alias voluptas culpa!</p>
                <button><fa-icon [icon]="trashIcon"></fa-icon></button>
            </li>
            <li>
                <h4>Cámara</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur vel aut dolores recusandae doloribus, quibusdam fugiat, delectus, sequi ducimus dolorem in doloremque incidunt sunt sed ipsa facere alias voluptas culpa!</p>
                <button><fa-icon [icon]="trashIcon"></fa-icon></button>
            </li>


        </ul>

    </div>

</section>